body{
 margin: 0;
 font-family: "Montserrat", sans-serif;
 overflow: hidden;
 background-color: rgb(0, 0, 0);
 color: white;
}

.main{
    display: flex;
    height: 100vh;
    margin: 0.5rem;
}

.sidebar{
    background-color: #000000;
    width: 340px;
    border-radius: 1rem;

}

.main-content{
    background-color: #121212;
    width: 100%;
    flex: 1;
    margin-left: 0.50rem;
    border-radius: 1rem;
    overflow: auto;
}

.music-player{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0px;
    height: 4.2rem;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 6.93rem;
    border-radius: 1rem;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    line-height: 2.5rem;
    background-color: #121212;
}

.nav_option{
    opacity: 0.7;
}
.nav_option:hover{
    opacity: 1;
}

.nav a{
     text-decoration: none;
     color: white;
     margin-left: 0.62rem;
     font-size: 1rem;
}

.nav i{
    font-size: 1.5rem;
}

.library{
    height: 100%;
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.50rem;

    }

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    line-height: 2.5rem;
}    
.lib_options img{
    height: 1.25rem;
    width: 1.25rem;
}

.lib_options a{
    color: white;
}

.icons{
    margin-right: 1rem;
}

.icons i{
    font-size: 1.25rem;
}

.box1{
    background-color: #232323;
    height: 8rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 1rem ;
    border-radius: 0.75rem;
    
   
    
}

.p1{
    font-weight: 700;
    font-size: 1rem;
}
.p2{
    opacity: 0.8;
    font-size: 0.87rem;
}
.badge{
 font-size: 0.8rem;
 padding: 0.25rem 1rem;
 border-radius: 1rem;
 border: none;
 background-color: white;
 height: 2rem;
 font-weight: 700;
 
}

.box2{
    background-color: #232323;
    height: 8rem;
    margin: 0.75rem 0 0.75rem 0;
    padding: 0.5rem 1rem ;
    border-radius: 0.75rem;
}

.sticky_nav{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #121212;
    margin-left: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    margin-right: 1rem;
        
}

.sticky-icons img{
    margin-right: 0.7rem;
    background-color: #000000;
    border-radius: 50%;
}

.sticky-options{
    display: flex;
    justify-content: center;
    align-items: center;

}
   
.options{
    margin-right: 0.8rem;
}

@media (max-width:1000px){
    .hide{
        display: none;
    }
}

.card-container{
    background-color: #181818;
    width: 9.6rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-top: 0.8rem;

}
.card-container:hover{
    background-color: #232323;
}

.image{
    width:inherit;
    border-radius: inherit;
    margin-bottom: 0.7rem;
}

.card-title{
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.card-info{
    font-size:0.8rem;
    opacity: 0.8;
    margin-bottom: 0.3rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
   
}

.card{
    margin-left: 1.5rem;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 30%;
    border-top: 2px solid white;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: center;
    align-items: center;
}

.album{
    width: 25%;
}
.player{
 width: 50%;
}

.player-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-icons img{
    height: 1rem;
    margin-right: 1rem;
    opacity: 0.7;
}

.player-icons img:hover{
       opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    position: relative;
    top: 5px;
}

.progress-bar{
    width:70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color:#ddd;
    height: 0.2rem;
    border-radius: 1rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color:#1bd760;
    border-radius:50%;
    margin-top:-0.35rem;
}

.start-time{
    font-size: 0.85rem;
    opacity: 0.7;
    margin-right: 0.5rem;
    position:relative;
    top: 0.1rem;
}
.current-time{
    font-size: 0.85rem;
    opacity: 0.7;
    margin-left: 0.5rem;
    position:relative;
    top: 0.1rem;
}

.album-image img{
    height:3rem;
    width:3rem;
    border-radius: 0.3rem;
}

.album{
    display:flex;
    align-items: center;
}
.album-info{
    font-size: 0.8rem;
    margin-left: 1rem;
}
.album-title{
    font-weight: 700;
}
.album-desc{
    font-size:0.7rem ;
    margin-top: 0.3rem;
    opacity: 0.8;
}
.album-icons{
    margin-left: 1rem;
}
.album-icons i{
    margin-right: 0.5rem;
     opacity: 0.8;
}

.control{
 width: 25%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.control-icons i{
  margin-left: 0.5rem;
  opacity: 0.8;
}
.audio-range{
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    bottom: 0.3rem;
}

.audio-range::-webkit-slider-runnable-track{
    background-color:#ddd;
    height: 0.2rem;
    border-radius: 1rem;
}

.audio-range::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color:#1bd760;
    border-radius:50%;
    margin-top:-0.35rem;
}